body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

@font-face {
  font-family: 'AlibabaPuHuiTi-2-65-Medium';
  src: url('../font/AlibabaPuHuiTi-2-65-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'AlibabaPuHuiTi-2-55-Regular';
  src: url('../font/AlibabaPuHuiTi-2-55-Regular.ttf') format('truetype');
}

body {
  font-family: AlibabaPuHuiTi-2-55-Regular;
}
